.catalogue__text {
  text-align: center;
  text-transform: none;
  margin: 15px 0px 5px 0px;
}

.catalogue__size:nth-child(-n+5) {
  margin-left: 5px;
}

.catalogue__block {
  display: flex;
}

.catalogue__block_size {
  display: flex;
  margin: 5px 0px 5px 0px;
  justify-content: center;
}

.catalogue__block_product {
  display: flex;
  flex-direction: column;
}

.catalogue__block_product:nth-child(-n+2) {
  margin-right: 15px;
}

.catalogue__block_color {
  display: flex;
  justify-content: center;
}

.catalogue__title {
  text-align: left;
  margin-bottom: 10px;
}

.catalogue__link {
  text-align: left;
  text-transform: none;
  color: #252525;
  margin-top: 20px;
}

.catalogue__box {
  margin-left: 30px;
}

.catalogue__box_item {
  display: flex;
}

.catalogue__circle {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 50%;
  border: 0.3px solid #252525;
}

.catalogue__circle-blue {
  margin-right: 5px;
  background: #6F83A4;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 50%;
}

.catalogue__circle-beige {
  background: #F1DDAA;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 50%;
}

.catalogue__group {
  display: table-cell;
  text-transform: none;
}

.catalogue__check {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: solid #E0BEA2;
  border-width: 2px 0px 0px 2px;
  transform: rotate(227deg);
  margin: 4px 10px 0px 11px;
  cursor: pointer;
}

.catalogue__item {
  display: flex;
  margin: 0px 30px 30px 0px;
  cursor: pointer;
}

.catalogue__items {
  display: none;
}
