.footer
    display: flex
    justify-content: space-between
    margin-top: 100px
    &__block
        margin-bottom: 64px
    &__text
        text-align: left
        margin-bottom: 10px
        cursor: pointer
    &__title
        margin-bottom: 20px
        text-align: left
        cursor: pointer
    &__box
        display: flex
        justify-content: left
        margin-bottom: 10px
        cursor: pointer
        &_img
            margin-right: 10px