.menu {
  display: none;
}

.header {
  background: url("../../img/background.png") no-repeat;
  height: 900px;
  padding-top: 24px;
  background-size: 100%;
}

.header__menu {
  cursor: pointer;
}

.header__span-first {
  width: 34px;
  background: #FFFFFF;
  clear: left;
  float: left;
  height: 4px;
  margin-bottom: 6px;
  transition: all .2s;
}

.header__span-second {
  width: 26px;
  background: #FFFFFF;
  clear: left;
  float: left;
  height: 4px;
  margin-bottom: 6px;
  transition: all .2s;
}

.header__span-third {
  width: 18px;
  background: #FFFFFF;
  clear: left;
  float: left;
  height: 4px;
  transition: all .2s;
}

.header__box {
  display: flex;
  position: relative;
  width: 25px;
}

.header__length {
  position: absolute;
  top: -6px;
  right: -3px;
  color: #252525 !important;
  font-family: "Raleway-Bold",sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-block-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.header__icon {
  height: 25px;
  cursor: pointer;
}

.header__icon:nth-child(2) {
  margin-right: 33px;
}

.header__icon:nth-child(1) {
  margin-right: 33px;
}

.header__icon:nth-child(3) {
  margin-right: 30px;
}
