.second-block
    display: flex
    justify-content: space-between
    &__text
        text-align: left
        margin: 100px 0px 50px 0px
    &__box
        position: relative
    &__button
        position: absolute
        width: 273.75px
        height: 40px
        left: 0
        bottom: 0
        background: rgba(224, 190, 162, 0.75)
        backdrop-filter: blur(3px)
        border: none
        font-family: "Raleway-Light"
        font-style: normal
        font-weight: 300
        font-size: 20px
        line-height: 23px
        text-align: center
        color: #FFFFFF
        cursor: pointer