.link-type-first {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.link-type-first:nth-child(2) {
  margin-right: 28px;
}

.link-type-first:nth-child(1) {
  margin-right: 25px;
}

.link-type-first-black {
  color: #252525 !important;
}

.title-type-first {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.85;
}

.title-type-second {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
}

.title-type-third {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
  display: block;
}

.subtitle-type-first {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-type-first-black {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  color: #252525;
  display: block;
  text-decoration: none;
}

.subtitle-type-second {
  font-family: "Raleway-ExtraLight";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #252525;
}

.text-type-first {
  font-family: "Raleway-Bold";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #252525;
}

.text-type-second {
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #E0BEA2;
}

.text-type-second-black {
  color: #252525;
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.text-type-third {
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

@media (max-width: 575px) {
  .title-type-first {
    font-size: 32px;
    line-height: 37px;
  }
  .title-type-second {
    font-size: 24px;
    line-height: 28px;
  }
  .title-type-third {
    font-size: 18px;
    line-height: 21px;
  }
  .subtitle-type-first {
    font-size: 14px;
    line-height: 16px;
  }
  .subtitle-type-first-black {
    font-size: 14px;
    line-height: 16px;
  }
  .subtitle-type-second {
    font-size: 14px;
    line-height: 16px;
  }
  .text-type-first {
    font-size: 14px;
    line-height: 16px;
  }
  .text-type-second-black {
    font-size: 12px;
    line-height: 14px;
  }
}
